<div class="center jumbotron text-center">
  <h1>オススメ飲食店一覧</h1>
</div>

<div class="row mx-2">
  <% @shops.each do |shop| %>
    <div class="col-sm-6 col-md-4 mb-4 ">
      <div class="card" >
        <% if shop.picture.present? %>
          <p><%= image_tag "#{shop.picture}" , size: '333x200'%></p>
        <% else %>
          <p><%= image_tag '/no image.png',:width => '100%', :height => '100%'%></p>
        <% end %>
      <div class="card-body">
          <div class="card-body text-center">
            <p><%= shop.name %></p>
            <p><%= link_to '詳細ページへ', shop_path(shop),class:'btn btn-outline-success '%></p>
          </div>  
          </div>
      </div>
    </div>
  <% end %>
</div>