<div class="center jumbotron text-center">
  <h1>オススメ飲食店一覧</h1>
</div>

<div class="row mx-2" style=" display: flex; flex-wrap: wrap;">
  <% @shops.each do |shop| %>
    <div class="col-xs-10 col-sm-6 col-md-4 mb-4 ">
      <div class="card h-100">
        <% if shop.picture.present? %>
        <div class="wrapper">
          <div class="content"><%= image_tag "#{shop.picture}",:width => '100%'%></div>
        </div>
        <% else %>
          <p><%= image_tag '/no image.png',:width => '100%', :height => '100%'%></p>
        <% end %>
      <div class="card-body">
          <div class="card-body text-center">
            <p><%= shop.name %></p>
            <p><%= link_to '詳細ページへ', shop_path(shop),class:'btn btn-outline-success '%></p>
          </div>  
          </div>
      </div>
    </div>
  <% end %>
</div>