<div class="center jumbotron">
  <div class="text-center">
    <h1>Favorite Restaurant</h1>
    <p>みんながオススメする飲食店を共有しよう！</p>
  </div>
</div>

<div class="text-center">
  <%= link_to 'ユーザ登録', signup_path, class: 'btn btn-lg btn-primary' %>
</div>