.main-container {
  background-image: url("/cafe.png");
  height: 400px;
  width: 100%;
  background-size:cover;
  text-align: center;
  padding: 150px;
  margin: 30px auto;
  color: white;
}

p{ font-size: calc(112.5% + 0.75vw) }

h1 { font-size: 2.5em; }

